PORT=8000
# MONGO_URI="mongodb+srv://sarthak31122004_db_user:9uwpRon9LN4bCUbf@cluster0.4gxuttm.mongodb.net/?appName=Cluster0"
MONGO_URI="mongodb://sarthak31:Sarthakdb31@ac-xjs6rk9-shard-00-00.4gxuttm.mongodb.net:27017,ac-xjs6rk9-shard-00-01.4gxuttm.mongodb.net:27017,ac-xjs6rk9-shard-00-02.4gxuttm.mongodb.net:27017/?ssl=true&replicaSet=atlas-kwfg2s-shard-0&authSource=admin&appName=Cluster0"
CORS_ORIGIN=*
ACCESS_TOKEN_SECRETE=8dddd0be43e1360a50677cb42a327dd95e6566a43dd10f90d9685ba1ada63b7c
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRETE=1273bc791e3cce9e82551e5160a8cfda7bf3e44b86d8e1eb48b2d49a4c02f872
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=epghfumk
CLOUDINARY_API_KEY=622553252744142
CLOUDINARY_API_SECRETE=lXSqz7f_QkxEt0ikhUxnb25siZ8
