PORT=8000
# MONGO_URI="mongodb+srv://sarthak31122004_db_user:9uwpRon9LN4bCUbf@cluster0.4gxuttm.mongodb.net/?appName=Cluster0"
MONGO_URI="mongodb://sarthak31:Sarthakdb31@ac-xjs6rk9-shard-00-00.4gxuttm.mongodb.net:27017,ac-xjs6rk9-shard-00-01.4gxuttm.mongodb.net:27017,ac-xjs6rk9-shard-00-02.4gxuttm.mongodb.net:27017/?ssl=true&replicaSet=atlas-kwfg2s-shard-0&authSource=admin&appName=Cluster0"
